#mm-weixin-admin
  margin: 2rem 2rem 0 .5rem

for n in 1..4
  .mb-{n}
    margin-bottom 1rem * n

  .mt-{n}
    margin-top 1rem * n

.img-thumbnail
  max-width 200px
  padding 0.25rem
  border 1px solid gray

.ml-auto
  margin-left auto

.mx-1
  margin-left 1em
  margin-right 1em